openpyxl==3.1.2
pytest==8.0.0
Sphinx==7.2.6
myst-parser==2.0.0
sphinx-rtd-theme==2.0.0
pytest-cov==4.1.0
coveralls==3.3.1
flake8==7.0.0
pandas==2.2.0
https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-22.04/wxPython-4.2.1-cp310-cp310-linux_x86_64.whl
